body {
    /*background-color: #EFEFEF;*/
    background-color: #bedae2;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.list {
    order: 1;
    width: 350px;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 10px;
    -webkit-box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.12);
    -moz-box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.12);
    box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.12);
}

/* ----- HEADER -----*/
.header {
    display: block;
    height: 40px;
    margin: 10px 15px 0px 15px;
}

.day-name {
    display: inline-block;
    width: 40%;
    font-size: 20px;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 10px;
}

.date {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 40%;
    font-style: italic;
    font-size: 12px;
}

hr {
    width: 85%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

/* ----- TASKS -----*/

.all-tasks {
    list-style-type: none;
    padding: 0px;
    margin: 0px 15px 10px 15px
}

.task {
    margin: 5px 0px 5px 0px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    /*background: #f7f7f7;
    box-shadow: 0 0 1px grey;*/
}

.finished {
    text-decoration: line-through;
}

span {
    margin-bottom: 10px;
}


.new-task-btn {
    background-color: #8bcfe5;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.plus {
    color: white;
    margin-top: 18px;
    font-size: 25px;
}

/* ----- ADD TASK ----- */
.add-task {
    order: 2;
    width: 350px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    margin-top: 10px;
    -webkit-box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.12);
    -moz-box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.12);
    box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.12);
}

input[type=text] {
    width: 70%;
    margin: 15px 0px 0px 15px;
    border-radius: 8px;
    border: 1px grey solid;
    padding: 5px;
}

input[type=text]:focus {
    border: 1px darkgreen solid;
    border-radius: 15px;
}

button {
    border-radius: 8px;
    height: 30px;
    width: 15%;
    border: none;
}